[Unit]
Description=Nodepool

[Service]
ExecStart=/opt/ci/nodepool/venv/bin/nodepoold -c /etc/nodepool/nodepool.yaml -l /etc/nodepool/logging.conf
Restart=on-failure
RestartPreventExitStatus=255
Type=idle
User=nodepool
Group=nodepool

[Install]
WantedBy=multi-user.target
Alias=nodepool.service
