[Unit]
Description=Zuul merger

[Service]
ExecStart=/opt/ci/zuul/venv/bin/zuul-merger -d
Restart=on-failure
RestartPreventExitStatus=255
Type=idle
User=zuul
Group=zuul

[Install]
WantedBy=multi-user.target
Alias=zuul-merger.service
