[COMMON]
OS_USERNAME = ci-user
OS_PASSWORD = nova
OS_TENANT_NAME = ci
OS_TENANT_ID = tenantid
OS_AUTH_URL = http://127.0.0.1:5000/v2.0
SAHARA_HOST = localhost
FLAVOR_ID = 20
CLUSTER_CREATION_TIMEOUT = 60
CLUSTER_NAME = name
FLOATING_IP_POOL = public
NEUTRON_ENABLED = false
INTERNAL_NEUTRON_NETWORK = private
JOB_LAUNCH_TIMEOUT = 15
HDFS_INITIALIZATION_TIMEOUT = 10

[VANILLA]
IMAGE_NAME = vanilla_image
SKIP_ALL_TESTS_FOR_PLUGIN = False
SKIP_CINDER_TEST = False
SKIP_CLUSTER_CONFIG_TEST = False
SKIP_EDP_TEST = False
SKIP_MAP_REDUCE_TEST = True
SKIP_SWIFT_TEST = True
SKIP_SCALING_TEST = False
SKIP_TRANSIENT_CLUSTER_TEST = True
ONLY_TRANSIENT_CLUSTER_TEST = False

[VANILLA_TWO]
IMAGE_NAME = vanilla_two_image
SKIP_ALL_TESTS_FOR_PLUGIN = False
SKIP_CINDER_TEST = False
SKIP_MAP_REDUCE_TEST = True
SKIP_SWIFT_TEST = True
SKIP_SCALING_TEST = False
SKIP_EDP_TEST = False

[HDP]
IMAGE_NAME = hdp_image
SKIP_ALL_TESTS_FOR_PLUGIN = False
SKIP_CINDER_TEST = False
SKIP_MAP_REDUCE_TEST = True
SKIP_SWIFT_TEST = True
SKIP_SCALING_TEST = False
SKIP_EDP_TEST = False

[HDP2]
IMAGE_NAME = hdp_two_image
SKIP_ALL_TESTS_FOR_PLUGIN = False
SKIP_SWIFT_TEST = True
SKIP_SCALING_TEST = False
SKIP_EDP_TEST = False

[CDH]
IMAGE_NAME = cdh_image
SKIP_ALL_TESTS_FOR_PLUGIN = False
SKIP_CINDER_TEST = False
SKIP_MAP_REDUCE_TEST = True
SKIP_SWIFT_TEST = True
SKIP_SCALING_TEST = False
SKIP_EDP_TEST = False

[SPARK]
IMAGE_NAME = spark_image
SKIP_ALL_TESTS_FOR_PLUGIN = False
SKIP_SCALING_TEST = False
SKIP_EDP_TEST = False
