includes:
  - python-file: openstack_functions.py

pipelines:
  - name: check
    manager: IndependentPipelineManager
    trigger:
      gerrit:
        - event: patchset-created
        - event: change-restored
        - event: comment-added
          comment: (?i)^(Patch Set [0-9]+:)?( [\w\\+-]*)*(\n\n)?\s*(sahara-ci-)?recheck
    success:
      gerrit:
        verified: 1
    failure:
      gerrit:
        verified: -1
  - name: post
    manager: IndependentPipelineManager
    trigger:
      gerrit:
        - event: change-merged
        - event: comment-added
          comment_filter: (?i)^\s*rebuild(( sahara-ci))\s*$

projects:
  - name: openstack/sahara
    check:
      - gate-sahara-neutron-direct-vanilla_1-aio
      - gate-sahara-neutron-heat-vanilla_2.4
      - gate-sahara-neutron-heat-vanilla_2.6-scenario
      - gate-sahara-neutron-direct-spark-aio
      - gate-sahara-neutron-direct-spark-aio-scenario
      - gate-sahara-neutron-direct-transient
      - gate-sahara-neutron-heat-transient
      - gate-sahara-nova-direct-cdh_ubuntu-aio
      - gate-sahara-nova-direct-cdh_centos-aio
      - gate-sahara-nova-direct-hdp_1-aio
      - gate-sahara-nova-heat-hdp_2
      - gate-sahara-pep8-trunk
      - tempest-sahara-tests

  - name: openstack/python-saharaclient
    check:
      - gate-saharaclient-neutron-direct-vanilla_1-aio
      - gate-saharaclient-neutron-heat-vanilla_2.4
      - gate-saharaclient-neutron-heat-vanilla_2.6-scenario
      - gate-saharaclient-neutron-direct-spark-aio
      - gate-saharaclient-neutron-direct-spark-aio-scenario
      - gate-saharaclient-neutron-direct-transient
      - gate-saharaclient-neutron-heat-transient
      - gate-saharaclient-nova-direct-cdh_ubuntu-aio
      - gate-saharaclient-nova-direct-cdh_centos-aio
      - gate-saharaclient-nova-direct-hdp_1-aio
      - gate-saharaclient-nova-heat-hdp_2
      - gate-sahara-pep8-trunk
      - tempest-saharaclient-tests

  - name: openstack/sahara-dashboard
    check:
      - gate-uitests-tests

#  - name: openstack/horizon
#    check:
#      - gate-ui-tests

  - name: openstack/sahara-image-elements
    check:
      - dib-neutron-direct-vanilla_1-ubuntu-aio
      - dib-neutron-direct-vanilla_1-fedora-aio
      - dib-neutron-direct-vanilla_1-centos-aio
      - dib-neutron-heat-vanilla_2.4-ubuntu
      - dib-neutron-heat-vanilla_2.4-fedora
      - dib-neutron-heat-vanilla_2.4-centos
      - dib-neutron-heat-vanilla_2.6-ubuntu-scenario
      - dib-neutron-heat-vanilla_2.6-fedora-scenario
      - dib-neutron-heat-vanilla_2.6-centos-scenario
      - dib-nova-direct-spark-aio
      - dib-nova-direct-spark-aio-scenario
      - dib-nova-direct-hdp_1-aio
      - dib-nova-heat-hdp_2
      - dib-nova-direct-cdh-ubuntu-aio
      - dib-nova-direct-cdh-centos-aio
    post:
      - dib-neutron-direct-vanilla_1-ubuntu-aio
      - dib-neutron-direct-vanilla_1-fedora-aio
      - dib-neutron-direct-vanilla_1-centos-aio
      - dib-neutron-heat-vanilla_2.4-ubuntu
      - dib-neutron-heat-vanilla_2.4-fedora
      - dib-neutron-heat-vanilla_2.4-centos
      - dib-neutron-heat-vanilla_2.6-ubuntu-scenario
      - dib-neutron-heat-vanilla_2.6-fedora-scenario
      - dib-neutron-heat-vanilla_2.6-centos-scenario
      - dib-nova-direct-spark-aio
      - dib-nova-direct-spark-aio-scenario
      - dib-nova-direct-hdp_1-aio
      - dib-nova-heat-hdp_2
      - dib-nova-direct-cdh-ubuntu-aio
      - dib-nova-direct-cdh-centos-aio

  - name: stackforge/sahara-ci-config
    check:
      - sahara-ci-syntax-check

jobs:
  - name: ^.*$
    parameter-function: set_ci_tenant
    branch: ^(master|stable/juno)$
  - name: gate-sahara-pep8-trunk
    voting: false
  - name: ^gate-sahara-.*$
    files:
      - '^sahara/.*$'
      - '^tools/.*$'
      - '^[^\/]*$'
  - name: gate-sahara-neutron-heat-vanilla_2.4
    branch: ^(stable/juno)$
  - name: gate-saharaclient-neutron-heat-vanilla_2.4
    branch: ^(stable/juno)$
  - name: ^dib-neutron-heat-vanilla_2.4-.*$
    branch: ^(stable/juno)$
  - name: gate-sahara-neutron-heat-vanilla_2.6-scenario
    branch: ^(master)$
  - name: gate-saharaclient-neutron-heat-vanilla_2.6-scenario
    branch: ^(master)$
  - name: ^dib-neutron-heat-vanilla_2.6-.*$
    branch: ^(master)$
  - name: tempest-sahara-tests
    branch: ^(master)$
  - name: dib-nova-direct-spark-aio
    branch: ^(stable/juno)$
  - name: gate-saharaclient-neutron-direct-spark-aio
    branch: ^(stable/juno)$
  - name: gate-sahara-neutron-direct-spark-aio
    branch: ^(stable/juno)$
  - name: dib-nova-direct-spark-aio-scenario
    branch: ^(master)$
  - name: gate-saharaclient-neutron-direct-spark-aio-scenario
    branch: ^(master)$
  - name: gate-sahara-neutron-direct-spark-aio-scenario
    branch: ^(master)$
#  - name: gate-ui-tests
#    voting: false
#    files:
#      - '^openstack_dashboard/dashboards/project/data_processing.*$'
#      - 'openstack_dashboard/api/sahara.py'
