includes:
  - python-file: openstack_functions.py

pipelines:
  - name: check
    manager: IndependentPipelineManager
    trigger:
      gerrit:
        - event: patchset-created
        - event: change-restored
        - event: comment-added
          comment: (?i)^(Patch Set [0-9]+:)?( [\w\\+-]*)*(\n\n)?\s*(sahara-ci-)?recheck
    success:
      gerrit:
        verified: 1
    failure:
      gerrit:
        verified: -1
  - name: post
    manager: IndependentPipelineManager
    trigger:
      gerrit:
        - event: change-merged
        - event: comment-added
          comment_filter: (?i)^\s*rebuild(( sahara-ci))\s*$
  - name: noop
    manager: IndependentPipelineManager
    trigger:
      gerrit:
        - event: comment-added
          comment: (?i)^(Patch Set [0-9]+:)?( [\w\\+-]*)*(\n\n)?\s*(sahara-ci-)?recheck
  - name: nightly
    description: Jobs in this queue are triggered on a timer.
    manager: IndependentPipelineManager
    source: gerrit
    precedence: low
    trigger:
      timer:
        - time: '0 3 * * *'
    success:
      smtp:
        to: esikachev@mirantis.com, vgridnev@mirantis.com
        from: zuul@sahara.mirantis.com
        subject: '[sahara-nightly][passed]Silent check of sahara passed'
    failure:
      smtp:
        to: esikachev@mirantis.com, vgridnev@mirantis.com
        from: zuul@sahara.mirantis.com
        subject: '[sahara-nightly][failed]Silent check of sahara failed'
  - name: weekly
    description: Jobs in this queue are triggered on a timer.
    manager: IndependentPipelineManager
    source: gerrit
    precedence: low
    trigger:
      timer:
        - time: '* * * * 6'
    success:
      smtp:
        to: esikachev@mirantis.com, vgridnev@mirantis.com
        from: zuul@sahara.mirantis.com
        subject: '[sahara-weekly][passed]Silent check of sahara passed'
    failure:
      smtp:
        to: esikachev@mirantis.com, vgridnev@mirantis.com
        from: zuul@sahara.mirantis.com
        subject: '[sahara-weekly][failed]Silent check of sahara failed'

projects:
  - name: openstack/sahara
    check:
      - gate-sahara-vanilla_2.7.1-u14
      - gate-sahara-spark_1.3.1-u14-aio
      - gate-sahara-spark_1.6.0-u14-aio
      - gate-sahara-transient-u14
      - gate-sahara-mapr_5.1.0.mrv2-u14
      - gate-sahara-cdh_5.4.0-u12-aio
      - gate-sahara-cdh_5.4.0-c6.6-aio
      - gate-sahara-cdh_5.5.0-u14-aio
      - gate-sahara-cdh_5.5.0-c6.6-aio
      - gate-sahara-cdh_5.7.0-c7-aio
      - gate-sahara-ambari_2.3-c6.6
      - gate-sahara-ambari_2.4-c6.6
      - gate-sahara-pep8-trunk
      - tempest-sahara-tests

  - name: openstack/sahara-tests
    check:
      - gate-sahara_tests-vanilla_2.7.1-u14
      - gate-sahara_tests-spark_1.3.1-u14-aio
      - gate-sahara_tests-spark_1.6.0-u14-aio
      - gate-sahara_tests-transient-u14
      - gate-sahara_tests-mapr_5.1.0.mrv2-u14
      - gate-sahara_tests-cdh_5.5.0-u14-aio
      - gate-sahara_tests-cdh_5.5.0-c6.6-aio
      - gate-sahara_tests-ambari_2.3-c6.6
      - gate-sahara_tests-ambari_2.4-c6.6
      - gate-sahara_tests-cdh_5.5.0-u14-mitaka
      - gate-sahara_tests-cdh_5.5.0-c6.6-mitaka
      - gate-sahara_tests-spark_1.3.1-u14-mitaka
      - gate-sahara_tests-spark_1.6.0-u14-mitaka
      - gate-sahara_tests-vanilla_2.7.1-u14-mitaka
      - gate-sahara_tests-ambari_2.3-c6.6-mitaka

    nightly:
      - nightly-sahara_tests-vanilla_2.7.1-u14
      - nightly-sahara_tests-spark_1.3.1-u14-aio
      - nightly-sahara_tests-spark_1.6.0-u14-aio
      - nightly-sahara_tests-transient-u14
      - nightly-sahara_tests-cdh_5.4.0-u12-aio
      - nightly-sahara_tests-cdh_5.4.0-c6.6-aio
      - nightly-sahara_tests-cdh_5.5.0-u14-aio
      - nightly-sahara_tests-cdh_5.5.0-c6.6-aio
      - nightly-sahara_tests-ambari_2.3-c6.6
      - nightly-sahara_tests-ambari_2.4-c6.6
      - nightly-sahara_tests-cdh_5.5.0-u14-mitaka
      - nightly-sahara_tests-cdh_5.5.0-c6.6-mitaka
      - nightly-sahara_tests-spark_1.3.1-u14-mitaka
      - nightly-sahara_tests-spark_1.6.0-u14-mitaka
      - nightly-sahara_tests-vanilla_2.7.1-u14-mitaka
      - nightly-sahara_tests-ambari_2.3-c6.6-mitaka
    
    weekly:
      - weekly-sahara_tests-vanilla_2.7.1-u14
      - weekly-sahara_tests-spark_1.3.1-u14-aio
      - weekly-sahara_tests-spark_1.6.0-u14-aio
      - weekly-sahara_tests-transient-u14
      - weekly-sahara_tests-mapr_5.0.0.mrv2-u14
      - weekly-sahara_tests-cdh_5.4.0-u12-aio
      - weekly-sahara_tests-cdh_5.4.0-c6.6-aio
      - weekly-sahara_tests-cdh_5.5.0-u14-aio
      - weekly-sahara_tests-cdh_5.5.0-c6.6-aio
      - weekly-sahara_tests-ambari_2.3-c6.6
      - weekly-sahara_tests-ambari_2.4-c6.6
      - weekly-sahara_tests-cdh_5.4.0-u12-liberty
      - weekly-sahara_tests-cdh_5.4.0-c6.6-liberty
      - weekly-sahara_tests-spark_1.3.1-u14-liberty
      - weekly-sahara_tests-vanilla_2.7.1-u14-liberty
      - weekly-sahara_tests-cdh_5.5.0-u14-mitaka
      - weekly-sahara_tests-cdh_5.5.0-c6.6-mitaka
      - weekly-sahara_tests-mapr_5.0.0.mrv2-u14-mitaka
      - weekly-sahara_tests-spark_1.3.1-u14-mitaka
      - weekly-sahara_tests-spark_1.6.0-u14-mitaka
      - weekly-sahara_tests-vanilla_2.7.1-u14-mitaka
      - weekly-sahara_tests-ambari_2.3-c6.6-mitaka

  - name: openstack/python-saharaclient
    check:
      - gate-saharaclient-fake
      - gate-sahara-pep8-trunk
      - tempest-saharaclient-tests

  - name: openstack/sahara-image-elements
    check:
      - dib-vanilla_2.7.1-u14
      - dib-vanilla_2.7.1-c6.6
      - dib-vanilla_2.7.1-c7
      - dib-mapr_5.1.0.mrv2-u14
      - dib-spark_1.3.1-u14-aio
      - dib-spark_1.6.0-u14-aio
      - dib-ambari_2.1-c6.6
      - dib-cdh_5.4.0-u12-aio
      - dib-cdh_5.4.0-c6.6-aio
      - dib-cdh_5.5.0-u14-aio
      - dib-cdh_5.5.0-c6.6-aio
      - dib-cdh_5.5.0-c7-aio
      - dib-cdh_5.7.0-c7-aio
    post:
      - dib-vanilla_2.7.1-u14
      - dib-vanilla_2.7.1-c6.6
      - dib-vanilla_2.7.1-c7
      - dib-mapr_5.1.0.mrv2-u14
      - dib-spark_1.3.1-u14-aio
      - dib-spark_1.6.0-u14-aio
      - dib-ambari_2.1-c6.6
      - dib-cdh_5.4.0-u12-aio
      - dib-cdh_5.4.0-c6.6-aio
      - dib-cdh_5.5.0-u14-aio
      - dib-cdh_5.5.0-c6.6-aio
      - dib-cdh_5.5.0-c7-aio
      - dib-cdh_5.7.0-c7-aio
  - name: openstack/sahara-ci-config
    check:
      - sahara-ci-syntax-check

  - name: openstack/heat
    noop:
      - noop

jobs:
  - name: ^.*$
    parameter-function: set_params
  - name: ^gate-sahara.*$
    skip-if:
      - all-files-match-any:
          - ^doc/.*$
          - ^.*\.rst$
          - ^.*unit/.*
  - name: ^tempest-sahara.*$
    branch: ^(master|stable/liberty|stable/mitaka)$
    skip-if:
      - all-files-match-any:
          - ^doc/.*$
          - ^.*\.rst$
  - name: ^(?!nightly|weekly).*-mapr_5.1.*$
    branch: ^(master|stable/mitaka)$
    files:
      - ^sahara_tests/scenario/defaults/mitaka/mapr-5.1.*$
      - ^sahara_tests/scenario/defaults/mapr-5.1.*$
      - ^sahara/.*$
      - ^sahara_tests/.*.py$
      - ^diskimage-create/.*$
      - ^elements/.*$
  - name: ^(?!nightly|weekly).*-cdh_5.4.0-.*$
    branch: stable/liberty
    files:
      - ^sahara_tests/scenario/defaults/liberty/cdh-5.4.*$
      - ^sahara/.*$
      - ^sahara_tests/.*.py$
      - ^diskimage-create/.*$
      - ^elements/.*$
  - name: ^(?!nightly|weekly).*-spark_1.3.1-.*$
    branch: ^(master|stable/liberty|stable/mitaka)$
    files:
      - ^sahara_tests/scenario/defaults/spark-1.3.1.*$
      - ^sahara_tests/scenario/defaults/liberty/spark-1.3.1.*$
      - ^sahara_tests/scenario/defaults/mitaka/spark-1.3.1.*$
      - ^sahara/.*$
      - ^sahara_tests/.*.py$
      - ^diskimage-create/.*$
      - ^elements/.*$
  - name: ^(?!nightly|weekly).*-spark_1.6.0-.*$
    branch: ^(master|stable/mitaka)$
    files:
      - ^sahara_tests/scenario/defaults/spark-1.6.0.*$
      - ^sahara_tests/scenario/defaults/mitaka/spark-1.6.0.*$
      - ^sahara/.*$
      - ^sahara_tests/.*.py$
      - ^diskimage-create/.*$
      - ^elements/.*$
  - name: ^(?!nightly|weekly).*-cdh_5.5.0-.*$
    branch: ^(master|stable/mitaka)$
    files:
      - ^sahara_tests/scenario/defaults/cdh-5.5.*$
      - ^sahara_tests/scenario/defaults/mitaka/cdh-5.5.*$
      - ^sahara/.*$
      - ^sahara_tests/.*.py$
      - ^diskimage-create/.*$
      - ^elements/.*$
  - name: ^(?!nightly|weekly).*-vanilla_2.7.1-.*$
    branch: ^(master|stable/liberty|stable/mitaka)$
    files:
      - ^sahara_tests/scenario/defaults/vanilla-2.7.1.*$
      - ^sahara_tests/scenario/defaults/liberty/vanilla-2.7.1.*$
      - ^sahara_tests/scenario/defaults/mitaka/vanilla-2.7.1.*$
      - ^sahara/.*$
      - ^sahara_tests/.*.py$
      - ^diskimage-create/.*$
      - ^elements/.*$
  - name: dib-vanilla_2.7.1-c6.6
    voting: false
  - name: ^(?!nightly|weekly).*-ambari_2.3-.*$
    branch: ^(master|stable/mitaka)$
    voting: false
    files:
      - ^sahara_tests/scenario/defaults/ambari-2.3.*$
      - ^sahara_tests/scenario/defaults/mitaka/ambari-2.3.*$
      - ^sahara/.*$
      - ^sahara_tests/.*.py$
      - ^diskimage-create/.*$
      - ^elements/.*$
  - name: ^(?!nightly|weekly).*-ambari_2.4-.*$
    branch: master
    voting: false
    files:
      - ^sahara_tests/scenario/defaults/ambari-2.4.*$
      - ^sahara/.*$
      - ^sahara_tests/.*.py$
      - ^diskimage-create/.*$
      - ^elements/.*$
  - name: dib-vanilla_2.7.1-c7
    branch: ^(master|stable/mitaka)$
    voting: false
  - name: dib-cdh_5.5.0-c7-aio
    branch: master
    voting: false
  - name: ^.*-cdh_5.7.0-c7-aio$
    branch: master
    voting: false
  - name: gate-sahara-pep8-trunk
    branch: ^(master|stable/liberty|stable/mitaka)$
    voting: false
  - name: ^(?!nightly|weekly).*-ambari_2.1-.*$
    branch: ^(master|stable/mitaka)$
    files:
      - ^sahara_tests/scenario/defaults/ambari-2.1.*$
      - ^sahara_tests/scenario/defaults/mitaka/ambari-2.1.*$
      - ^sahara/.*$
      - ^sahara_tests/.*.py$
      - ^diskimage-create/.*$
      - ^elements/.*$
  - name: ^(?!nightly|weekly).*-sahara_tests-.*$
    branch: ^(master|stable/liberty|stable/mitaka)$
