includes:
  - python-file: openstack_functions.py

pipelines:
  - name: check
    manager: IndependentPipelineManager
    trigger:
      gerrit:
        - event: patchset-created
        - event: change-restored
        - event: comment-added
          comment: (?i)^(Patch Set [0-9]+:)?( [\w\\+-]*)*(\n\n)?\s*(sahara-ci-)?recheck
    success:
      gerrit:
        verified: 1
    failure:
      gerrit:
        verified: -1
  - name: post
    manager: IndependentPipelineManager
    trigger:
      gerrit:
        - event: change-merged
        - event: comment-added
          comment_filter: (?i)^\s*rebuild(( sahara-ci))\s*$

projects:
  - name: openstack/sahara
    check:
      - gate-sahara-neutron-heat-vanilla_2.6.0-u14
      - gate-sahara-neutron-heat-vanilla_2.7.1-u14
      - gate-sahara-neutron-direct-spark_1.0.0-u14-aio
      - gate-sahara-neutron-direct-spark_1.3.1-u14-aio
      - gate-sahara-neutron-direct-transient-u14
      - gate-sahara-neutron-heat-transient-u14
      - gate-sahara-neutron-heat-mapr_4.0.2.mrv2-u14
      - gate-sahara-nova-direct-cdh_5.3.0-u12-aio
      - gate-sahara-nova-direct-cdh_5.3.0-c6.6-aio
      - gate-sahara-nova-direct-cdh_5.4.0-u12-aio
      - gate-sahara-nova-direct-cdh_5.4.0-c6.6-aio
      - gate-sahara-nova-heat-hdp_2.0.6-c6.6
      - gate-sahara-nova-heat-ambari_2.3-c6.6
      - gate-sahara-pep8-trunk
      - tempest-sahara-tests

  - name: openstack/python-saharaclient
    check:
      - gate-saharaclient-distributed-heat-fake
      - gate-sahara-pep8-trunk
      - tempest-saharaclient-tests

  - name: openstack/sahara-image-elements
    check:
      - dib-neutron-heat-vanilla_2.6.0-u14
      - dib-neutron-heat-vanilla_2.6.0-c6.6
      - dib-neutron-heat-vanilla_2.7.1-u14
      - dib-neutron-heat-vanilla_2.7.1-c6.6
      - dib-neutron-heat-vanilla_2.7.1-c7
      - dib-neutron-heat-mapr_4.0.2.mrv2-u14
      - dib-neutron-direct-spark_1.0.0-u14-aio
      - dib-neutron-direct-spark_1.3.1-u14-aio
      - dib-nova-heat-hdp_2.0.6-c6.6
      - dib-nova-heat-ambari_2.1-c6.6
      - dib-nova-direct-cdh_5.3.0-u12-aio
      - dib-nova-direct-cdh_5.3.0-c6.6-aio
      - dib-nova-direct-cdh_5.4.0-u12-aio
      - dib-nova-direct-cdh_5.4.0-c6.6-aio
    post:
      - dib-neutron-heat-vanilla_2.6.0-u14
      - dib-neutron-heat-vanilla_2.6.0-c6.6
      - dib-neutron-heat-vanilla_2.7.1-u14
      - dib-neutron-heat-vanilla_2.7.1-c6.6
      - dib-neutron-heat-vanilla_2.7.1-c7
      - dib-neutron-heat-mapr_4.0.2.mrv2-u14
      - dib-neutron-direct-spark_1.0.0-u14-aio
      - dib-neutron-direct-spark_1.3.1-u14-aio
      - dib-nova-heat-hdp_2.0.6-c6.6
      - dib-nova-heat-ambari_2.1-c6.6
      - dib-nova-direct-cdh_5.3.0-u12-aio
      - dib-nova-direct-cdh_5.3.0-c6.6-aio
      - dib-nova-direct-cdh_5.4.0-u12-aio
      - dib-nova-direct-cdh_5.4.0-c6.6-aio

  - name: stackforge/sahara-ci-config
    check:
      - sahara-ci-syntax-check

jobs:
  - name: ^.*$
    parameter-function: set_params
    branch: ^(master|stable/kilo|stable/liberty)$
  - name: ^gate-sahara.*$
    skip-if:
      - all-files-match-any:
          - ^doc/.*$
          - ^.*\.rst$
  - name: ^tempest-sahara.*$
    branch: ^(master|stable/liberty)$
    skip-if:
      - all-files-match-any:
          - ^doc/.*$
          - ^.*\.rst$
  - name: ^tempest-sahara.*$
    branch: stable/liberty
    voting: false
  - name: ^.*-mapr_4.0.2.mrv2-u14$
    branch: master
    voting: false
  - name: ^.*-cdh_5.3.0-.*$
    branch: stable/kilo
  - name: ^.*-cdh_5.4.0-.*$
    branch: ^(master|stable/liberty)$
  - name: ^.*-spark_1.3.1-.*$
    branch: ^(master|stable/liberty)$
  - name: ^.*-spark_1.0.0-.*$
    branch: stable/kilo
  - name: ^.*-vanilla_2.7.1-.*$
    branch: ^(master|stable/liberty)$
  - name: ^.*-ambari_2.3-.*$
    branch: master
    voting: false
  - name: dib-neutron-heat-vanilla_2.7.1-c7
    branch: master
    voting: false
  - name: ^.*-vanilla_2.6.0-.*$
    branch: stable/kilo
  - name: gate-sahara-pep8-trunk
    voting: false
  - name: ^.*-nova-heat-hdp_2.0.6-c6.6$
    voting: false
  - name: ^.*-nova-heat-ambari_2.1-.*$
    voting: false
    branch: master
