includes:
  - python-file: openstack_functions.py

pipelines:
  - name: check
    manager: IndependentPipelineManager
    trigger:
      gerrit:
        - event: patchset-created
        - event: change-restored
        - event: comment-added
          comment: (?i)^(Patch Set [0-9]+:)?( [\w\\+-]*)*(\n\n)?\s*(sahara-ci-)?recheck
    success:
      gerrit:
        verified: 1
    failure:
      gerrit:
        verified: -1
  - name: post
    manager: IndependentPipelineManager
    trigger:
      gerrit:
        - event: change-merged
        - event: comment-added
          comment_filter: (?i)^\s*rebuild(( sahara-ci))\s*$
  - name: noop
    manager: IndependentPipelineManager
    trigger:
      gerrit:
        - event: comment-added
          comment: (?i)^(Patch Set [0-9]+:)?( [\w\\+-]*)*(\n\n)?\s*(sahara-ci-)?recheck
  - name: periodic
    description: Jobs in this queue are triggered on a timer.
    manager: IndependentPipelineManager
    source: gerrit
    precedence: low
    trigger:
      timer:
        - time: '0 3 * * *'
    success:
      smtp:
        to: esikachev@mirantis.com
        from: zuul@sahara.mirantis.com
        subject: '[sahara-nightly]Silent check of sahara passed'
    failure:
      smtp:
        to: esikachev@mirantis.com
        from: zuul@sahara.mirantis.com
        subject: '[sahara-nightly]Silent check of sahara failed'

projects:
  - name: openstack/sahara
    check:
      - gate-sahara-neutron-heat-vanilla_2.6.0-u14
      - gate-sahara-neutron-heat-vanilla_2.7.1-u14
      - gate-sahara-neutron-direct-spark_1.0.0-u14-aio
      - gate-sahara-neutron-direct-spark_1.3.1-u14-aio
      - gate-sahara-neutron-direct-spark_1.6.0-u14-aio
      - gate-sahara-neutron-heat-transient-u14
      - gate-sahara-neutron-heat-mapr_5.0.0.mrv2-u14
      - gate-sahara-neutron-heat-mapr_5.1.0.mrv2-u14
      - gate-sahara-nova-direct-cdh_5.3.0-u12-aio
      - gate-sahara-nova-direct-cdh_5.3.0-c6.6-aio
      - gate-sahara-nova-direct-cdh_5.4.0-u12-aio
      - gate-sahara-nova-direct-cdh_5.4.0-c6.6-aio
      - gate-sahara-nova-direct-cdh_5.5.0-u12-aio
      - gate-sahara-nova-direct-cdh_5.5.0-c6.6-aio
      - gate-sahara-nova-heat-ambari_2.3-c6.6
      - gate-sahara-pep8-trunk
      - tempest-sahara-tests

  - name: openstack/sahara-tests
    check:
      - gate-sahara_tests-neutron-heat-vanilla_2.6.0-u14
      - gate-sahara_tests-neutron-heat-vanilla_2.7.1-u14
      - gate-sahara_tests-neutron-direct-spark_1.0.0-u14-aio
      - gate-sahara_tests-neutron-direct-spark_1.3.1-u14-aio
      - gate-sahara_tests-neutron-direct-spark_1.6.0-u14-aio
      - gate-sahara_tests-neutron-heat-transient-u14
      - gate-sahara_tests-neutron-heat-mapr_5.0.0.mrv2-u14
      - gate-sahara_tests-neutron-heat-mapr_5.1.0.mrv2-u14
      - gate-sahara_tests-nova-direct-cdh_5.3.0-u12-aio
      - gate-sahara_tests-nova-direct-cdh_5.3.0-c6.6-aio
      - gate-sahara_tests-nova-direct-cdh_5.5.0-u12-aio
      - gate-sahara_tests-nova-direct-cdh_5.5.0-c6.6-aio
      - gate-sahara_tests-nova-heat-ambari_2.3-c6.6
      - gate-sahara_tests-nova-direct-cdh_5.4.0-u12-liberty
      - gate-sahara_tests-nova-direct-cdh_5.4.0-c6.6-liberty
      - gate-sahara_tests-neutron-direct-spark_1.3.1-u14-liberty
      - gate-sahara_tests-neutron-heat-vanilla_2.7.1-u14-liberty
    periodic:
      - nightly-sahara_tests-neutron-heat-vanilla_2.6.0-u14
      - nightly-sahara_tests-neutron-heat-vanilla_2.7.1-u14
      - nightly-sahara_tests-neutron-direct-spark_1.0.0-u14-aio
      - nightly-sahara_tests-neutron-direct-spark_1.3.1-u14-aio
      - nightly-sahara_tests-neutron-direct-spark_1.6.0-u14-aio
      - nightly-sahara_tests-neutron-heat-transient-u14
      - nightly-sahara_tests-neutron-heat-mapr_5.0.0.mrv2-u14
      - nightly-sahara_tests-nova-direct-cdh_5.3.0-u12-aio
      - nightly-sahara_tests-nova-direct-cdh_5.3.0-c6.6-aio
      - nightly-sahara_tests-nova-direct-cdh_5.4.0-u12-aio
      - nightly-sahara_tests-nova-direct-cdh_5.4.0-c6.6-aio
      - nightly-sahara_tests-nova-direct-cdh_5.5.0-u12-aio
      - nightly-sahara_tests-nova-direct-cdh_5.5.0-c6.6-aio
      - nightly-sahara_tests-nova-heat-ambari_2.3-c6.6
      - nightly-sahara_tests-nova-direct-cdh_5.4.0-u12-liberty
      - nightly-sahara_tests-nova-direct-cdh_5.4.0-c6.6-liberty
      - nightly-sahara_tests-neutron-direct-spark_1.3.1-u14-liberty
      - nightly-sahara_tests-neutron-heat-vanilla_2.7.1-u14-liberty

  - name: openstack/python-saharaclient
    check:
      - gate-saharaclient-distributed-heat-fake
      - gate-sahara-pep8-trunk
      - tempest-saharaclient-tests

  - name: openstack/sahara-image-elements
    check:
      - dib-neutron-heat-vanilla_2.6.0-u14
      - dib-neutron-heat-vanilla_2.6.0-c6.6
      - dib-neutron-heat-vanilla_2.7.1-u14
      - dib-neutron-heat-vanilla_2.7.1-c6.6
      - dib-neutron-heat-vanilla_2.7.1-c7
      - dib-neutron-heat-mapr_5.0.0.mrv2-u14
      - dib-neutron-heat-mapr_5.1.0.mrv2-u14
      - dib-neutron-direct-spark_1.0.0-u14-aio
      - dib-neutron-direct-spark_1.3.1-u14-aio
      - dib-neutron-direct-spark_1.6.0-u14-aio
      - dib-nova-heat-ambari_2.1-c6.6
      - dib-nova-direct-cdh_5.3.0-u12-aio
      - dib-nova-direct-cdh_5.3.0-c6.6-aio
      - dib-nova-direct-cdh_5.4.0-u12-aio
      - dib-nova-direct-cdh_5.4.0-c6.6-aio
      - dib-nova-direct-cdh_5.5.0-u12-aio
      - dib-nova-direct-cdh_5.5.0-c6.6-aio
    post:
      - dib-neutron-heat-vanilla_2.6.0-u14
      - dib-neutron-heat-vanilla_2.6.0-c6.6
      - dib-neutron-heat-vanilla_2.7.1-u14
      - dib-neutron-heat-vanilla_2.7.1-c6.6
      - dib-neutron-heat-vanilla_2.7.1-c7
      - dib-neutron-heat-mapr_5.0.0.mrv2-u14
      - dib-neutron-heat-mapr_5.1.0.mrv2-u14
      - dib-neutron-direct-spark_1.0.0-u14-aio
      - dib-neutron-direct-spark_1.3.1-u14-aio
      - dib-neutron-direct-spark_1.6.0-u14-aio
      - dib-nova-heat-ambari_2.1-c6.6
      - dib-nova-direct-cdh_5.3.0-u12-aio
      - dib-nova-direct-cdh_5.3.0-c6.6-aio
      - dib-nova-direct-cdh_5.4.0-u12-aio
      - dib-nova-direct-cdh_5.4.0-c6.6-aio
      - dib-nova-direct-cdh_5.5.0-u12-aio
      - dib-nova-direct-cdh_5.5.0-c6.6-aio

  - name: openstack/sahara-ci-config
    check:
      - sahara-ci-syntax-check

  - name: openstack/heat
    noop:
      - noop

jobs:
  - name: ^.*$
    parameter-function: set_params
  - name: ^gate-sahara.*$
    skip-if:
      - all-files-match-any:
          - ^doc/.*$
          - ^.*\.rst$
          - ^.*unit/.*
  - name: ^tempest-sahara.*$
    branch: ^(master|stable/liberty|stable/mitaka)$
    skip-if:
      - all-files-match-any:
          - ^doc/.*$
          - ^.*\.rst$
  - name: ^(?!nightly).*-mapr_5.*$
    branch: ^(master|stable/mitaka)$
    voting: false
    files:
      - 'etc/scenario/defaults/mapr-5*'
      - 'etc/scenario/defaults/mitaka/mapr-5*'
      - 'sahara*'
  - name: ^(?!nightly).*-cdh_5.3.0-.*$
    branch: stable/kilo
    files:
      - 'etc/scenario/defaults/kilo/cdh-5.3*'
      - 'sahara*'
  - name: ^(?!nightly).*-cdh_5.4.0-.*$
    branch: stable/liberty
    files:
      - 'etc/scenario/defaults/liberty/cdh-5.4*'
      - 'sahara*'
  - name: ^(?!nightly).*-spark_1.3.1-.*$
    branch: ^(master|stable/liberty|stable/mitaka)$
    files:
      - 'etc/scenario/defaults/spark-1.3.1*'
      - 'etc/scenario/defaults/liberty/spark-1.3.1*'
      - 'etc/scenario/defaults/mitaka/spark-1.3.1*'
      - 'sahara*'
  - name: ^(?!nightly).*-spark_1.0.0-.*$
    branch: stable/kilo
    files:
      - 'etc/scenario/defaults/kilo/spark-1.0.0*'
      - 'sahara*'
  - name: ^(?!nightly).*-spark_1.6.0-.*$
    branch: ^(master|stable/mitaka)$
    voting: false
    files:
      - 'etc/scenario/defaults/spark-1.6.0*'
      - 'etc/scenario/defaults/mitaka/spark-1.6.0*'
      - 'sahara*'
  - name: ^(?!nightly).*-cdh_5.5.0-.*$
    branch: ^(master|stable/mitaka)$
    voting: false
    files:
      - 'etc/scenario/defaults/cdh-5.5*'
      - 'etc/scenario/defaults/mitaka/cdh-5.5*'
      - 'sahara*'
  - name: ^(?!nightly).*-vanilla_2.7.1-.*$
    branch: ^(master|stable/liberty|stable/mitaka)$
    files:
      - 'etc/scenario/defaults/vanilla-2.7.1*'
      - 'etc/scenario/defaults/liberty/vanilla-2.7.1*'
      - 'etc/scenario/defaults/mitaka/vanilla-2.7.1*'
      - 'sahara*'
  - name: dib-neutron-heat-vanilla_2.7.1-c6.6
    voting: false
  - name: ^.*-ambari_2.3-.*$
    branch: ^(master|stable/mitaka)$
    files:
      - 'etc/scenario/defaults/ambari-2.3*'
      - 'etc/scenario/defaults/mitaka/ambari-2.3*'
      - 'sahara*'
  - name: dib-neutron-heat-vanilla_2.7.1-c7
    branch: ^(master|stable/mitaka)$
    voting: false
  - name: ^(?!nightly).*-vanilla_2.6.0-.*$
    branch: stable/kilo
    files:
      - 'etc/scenario/defaults/kilo/vanilla-2.6.0*'
      - 'sahara*'
  - name: gate-sahara-pep8-trunk
    branch: ^(master|stable/kilo|stable/liberty|stable/mitaka)$
    voting: false
  - name: ^(?!nightly).*-nova-heat-ambari_2.1-.*$
    branch: ^(master|stable/mitaka)$
    files:
      - 'etc/scenario/defaults/ambari-2.1*'
      - 'etc/scenario/defaults/mitaka/ambari-2.1*'
      - 'sahara*'
  - name: ^(?!nightly).*-sahara_tests-.*$
    branch: ^(master|stable/liberty|stable/kilo|stable/mitaka)$
