[default]
OS_USERNAME=<OPENSTACK_USER>
OS_TENANT_NAME=<OPENSTACK_TENANT>
OS_AUTH_URL=<KEYSTONE_ENDPOINT>
OS_PASSWORD=<USER_PASSWORD>
IMAGE_ID=<IMAGE_FOR_SLAVES>
FLAVOR_ID=<FLAVOR_FOR_SLAVES>
KEY_NAME=<KEY_FOR_SLAVES>
NETWORK_ID=<NEUTRON_PRIVATE_NETWORK>
FLOATING_POOL=<NEUTRON_FLOATING_IP_POOL>
NETWORK_PREFIX=<PREFIX_TO_VALIDATE_SLAVES_IP>
MAX_WORKERS=<MAX_SLAVES_NUMBER>
PRIVATE_KEY_PATH=<PATH_TO_KEY_FOR_SLAVES>
JENKINS_IP=
JENKINS_HOST_PORT=
JENKINS_USERNAME=<USER_TO_ACCESS_JENKINS>
JENKINS_PASSWORD=<JENKINS_USER_TOKEN>
JENKINS_JNLP_IP_PORT=
NODE_LABEL=<JENKINS_LABEL_FOR_SLAVES>
NODE_VM_NAME_PREFIX=<SLAVES_NAME_PREFIX>
VM_NAME=jenkins-itests-
SLAVE_USERNAME=<USER_TO_ACCESS_SLAVES>
LOCAL_KEY_PATH=<PATH_TO_LOCAL_KEY>
REMOTE_KEY_PATH=<PATH_TO_KEY_ON_SLAVE>
PIP_INDEX_URL=<PIP_MIRROR_URL>
